<h1> amici - Setup</h1>

<form method="post" action="/setup">

  <p>
    <!-- <a href="https://github.com/settings/applications/new"> -->
    <a href="https://github.com/settings/applications/new?oauth_application[name]=amici&oauth_application[url]=https://[ENTER YOUR GITHUB USERNAME].github.io/amici&oauth_application[callback_url]=http://[PUT%20SERVER%20IP%20HERE]/sign-up/new&oauth_application[description]=amici%20is%20awesome!" target="_blank">
      Register a new application at Github.
    </a>

  </p>
  <label for="setup_client_id">Client ID:</label>
  <input type="text" name="setup[client_id]" id="setup_client_id" value="<%= @setup.client_id %>" />

  <label for="setup_client_secret">Client Secret:</label>
  <input type="text" name="setup[client_secret]" id="setup_client_secret" value="<%= @setup.client_secret %>" />

  <input type="submit" value="Save" />
</form>